body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/743/214/large_2x/realistic-crumpled-paper-texture-background-free-vector.jpg');
}

h1 {
  text-align: center;
  margin: 15px 0px 10px 0px;
}

button {
  min-width: auto;
}

.outerContainer {
  margin: 0% 5%;
  /* padding-left: 10%;
  padding-right: 10%; */
}

.innerContainer {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  padding-bottom: 10px;
}

.workArea {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.canvasSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 10;
  gap: 10px;
}

#toolsBottom {
  flex-grow: 2;
  flex-shrink: 0;
}

#toolsSide {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  gap: 10px;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 10;
  flex-shrink: 0;
}

#actualCanvas {
  margin: 0;
  height: 700px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}

#toolsSide,
#canvas,
#toolsBottom {
  border: 2px solid #c7c7c7;
  text-align: center;
  background-color: #f0f0f0;
}

#toolsBottom {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#toolsSide > button {
  width: 80px;
}

#buttonBlack {
  background-color: black;
  color: white;
}

#currentPixel {
  width: 80px;
  height: 80px;
  border: darkgrey 2px solid;
}

footer {
  padding-top: 10px;
  text-align: center;
  margin-top: auto;
}

.darkGreyPixel {
  border-radius: 10%;
  background-color: darkgrey;
}

.buttonBlack {
  border-radius: 10%;
  background-color: black;
}

.buttonRed {
  background-color: red;
}